{% extends 'page.html' %}
<p><a name="top" class="topLink"></a></p>
{% block title %}Данные{% endblock %}
{% block body %}
<section class="u-clearfix u-container-align-center u-image op-section-1" id="sec-eae5" data-image-width="1818" data-image-height="606">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<section class="u-align-center u-clearfix op-section-2" id="sec-847a">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <h1>Все таблицы в базе данных</h1>
            {% for table in tables %}
            <div class="u-repeater u-repeater-1">
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-1">
                        <h4 class="u-text u-text-default u-text-2">{{ table[0].title() }}</h4>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <a href="data/{{ table[0] }}" class="u-btn u-button-style u-hover-palette-1-dark-1 u-palette-1-base u-btn-4">Просмотреть / Редактировать</a>
                    </div>
                </div>
                <div class="u-container-style u-list-item u-repeater-item">
                    <form action="{{ url_for('route.download_table') }}" method="POST">
                        <input type="hidden" name="table_name" value="{{ table[0] }}">
                        <input type="submit" value="💾" onclick="return confirm('Вы уверены, что хотите сохранить таблицу {{ table[0] }}?')" class="u-btn u-btn-round u-button-style u-hover-palette-2-base u-palette-3-base u-radius-1 u-btn-3">
                    </form>
                    <form action="{{ url_for('route.delete_table') }}" method="POST">
                        <input type="hidden" name="table_name" value="{{ table[0] }}">
                        <input type="submit" value="🗑" onclick="return confirm('Вы уверены, что хотите удалить таблицу {{ table[0] }}? Также удалятся все таблицы, зависимые от этой.')" class="u-btn u-btn-round u-button-style u-hover-palette-2-base u-palette-3-base u-radius-1 u-btn-3">
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
