{% extends 'page.html' %}
{% block title %}Операции{% endblock %}
{% block body %}
<section class="u-clearfix u-container-align-center u-image op-section-1" id="sec-eae5" data-image-width="1818" data-image-height="606">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<h3>Хранимые процедуры и функции:</h3>
<section class="u-align-center u-clearfix u-section-2" id="sec-847a">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <table class="u-table-entity u-table-entity-1">
                <colgroup>
                    <col width="25%">
                    <col width="75%">
                </colgroup>
                <thead class="u-palette-4-base u-table-header u-table-header-1">
                    <tr style="height: 27px;">
                        <th class="u-border-1 u-border-custom-color-1 u-table-cell">Функция/Процедура</th>
                        <th class="u-border-1 u-border-custom-color-1 u-table-cell">Действие</th>
                    </tr>
                </thead>
                <tbody class="u-table-body">
                    {% for table in tables %}
                    <tr style="height: 45px;">
                        <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-5">{{ table[0].title() }}</td>
                        <td class="u-border-1 u-border-grey-30 u-table-cell">{{ table[1] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--        <section class="u-align-center u-clearfix u-section-2" id="sec-847a">-->
<!--        </section>-->
<h3>Выполнить произвольный SQL-запрос:</h3>
<form action="{{ url_for('route.custom_sql') }}" method="POST">
    <textarea name="sql"
        rows="5" cols="123" placeholder="SELECT * FROM p2p;">
    </textarea>
    <input class="btn btn-primary u-border-none u-btn-round u-button-style u-hover-custom-color-1 u-palette-3-base u-radius-1 u-btn-2 insert-row-btn" type="submit" value="Выполнить" onclick="return confirm('Вы уверены, что хотите выполнить запрос?">
</form>
{% endblock %}
