{% extends 'page.html' %}
<p><a name="top" class="topLink"></a></p>
{% block title %}{{ table_name }}{% endblock %}
{% block body %}
<section class="u-clearfix u-container-align-center u-image op-section-1" id="sec-eae5" data-image-width="1818" data-image-height="606">
    <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
<section class="u-align-center u-clearfix op-section-2" id="sec-847a">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
            <h1>Таблица {{ table_name }}</h1>
            {% if name %}
            <form method=POST enctype=multipart/form-data action="{{ url_for('route.import_csv') }}">
                <input type="hidden" name="table_name" value="{{ table_name }}">
                <input type=file name="file">
                <input type="submit" value="Import from csv" onclick="return confirm('Вы уверены, что хотите импортировать данные? (Старые данные будут стерты!)')" class="update">
            </form>
            {% endif %}
            <table class="u-table-entity u-table-entity-1">
                <thead class="u-palette-4-base u-table-header u-table-header-1">
                    <tr style="height: 47px;">
                        {% for col in columns %}
                        <th class="u-border-1 u-border-custom-color-1 u-table-cell">{{ col[0] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody class="u-table-body">
                    {% for old_value in rows %}
                    <tr style="height: 48px;">
                        {% for value in old_value %}
                        <td class="u-border-1 u-border-grey-30 u-table-cell">
                            <a>{{ value }}</a>
                        </td>
                        {% endfor %}
                        {% if name %}
                        <td>
                            <input type="button" value="✏️" data-value="{{ old_value }}" id="show-button">
                            <div id="prompt-form-container">
                                <form id="prompt-form" method="POST" action="{{ url_for('route.update_row') }}">
                                    <div id="prompt-message"></div>
                                    <input name="text" type="text">
                                    <input type="hidden" name="old_value">
                                    <input type="hidden" name="table_name" value="{{ table_name }}">
                                    <input type="submit" value="Ok">
                                    <input type="button" name="cancel" value="Отмена">
                                </form>
                            </div>
                            <form action="{{ url_for('route.delete_row') }}" method="POST">
                                <input type="hidden" name="table_name" value="{{ table_name }}">
                                <input type="hidden" name="row" value="{{ old_value }}">
                                <input type="submit" value="🗑️" onclick="return confirm('Вы уверены, что хотите удалить строку? (Если на строку ссылаются другие записи, то удаление не возможно!)')" class="delete-row-btn">
                            </form>
                        </td>
                        {% endif %}
                    </tr>
                    {% if loop.last and name %}
                    <form action="{{ url_for('route.insert_row') }}" method="POST">
                        <input type="hidden" name="table_name" value="{{ table_name }}">
                        {% for col in columns %}
                        <input type="text" name="{{ col[0] }}" placeholder="{{ col[0] }}" class="u-border-1 u-border-grey-30 u-table-cell">
                        {% endfor %}
                        <input type="submit" value="Добавить" onclick="return confirm('Вы уверены, что хотите добавить запись? (Если запись не соответсвует по типу, вставка не возможна!)')" class="insert-row-btn">
                    </form>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
<script>
    // Показать полупрозрачный DIV, чтобы затенить страницу
    // (форма располагается не внутри него, а рядом, потому что она не должна быть полупрозрачной)
    function showCover() {
      let coverDiv = document.createElement('div');
      coverDiv.id = 'cover-div';

      // убираем возможность прокрутки страницы во время показа модального окна с формой
      document.body.style.overflowY = 'hidden';

      document.body.append(coverDiv);
    }

    function hideCover() {
      document.getElementById('cover-div').remove();
      document.body.style.overflowY = '';
    }

    function showPrompt(value, text, callback) {
      showCover();
      let form = document.getElementById('prompt-form');
      let container = document.getElementById('prompt-form-container');
      document.getElementById('prompt-message').innerHTML = text;
      form.text.value = value;
      form.old_value.value = value;

      form.cancel.onclick = function() {
        hideCover();
        container.style.display = 'none';
        document.onkeydown = null;
      };

      document.onkeydown = function(e) {
        if (e.key == 'Escape') {
            hideCover();
            container.style.display = 'none';
            document.onkeydown = null;
        }
      };

      let lastElem = form.elements[form.elements.length - 1];
      let firstElem = form.elements[0];

      lastElem.onkeydown = function(e) {
        if (e.key == 'Tab' && !e.shiftKey) {
          firstElem.focus();
          return false;
        }
      };

      firstElem.onkeydown = function(e) {
        if (e.key == 'Tab' && e.shiftKey) {
          lastElem.focus();
          return false;
        }
      };

      container.style.display = 'block';
      form.elements.text.focus();
    }
    let buttons = document.querySelectorAll('#show-button');
    buttons.forEach(function(btn) {
      // Вешаем событие клик
      btn.addEventListener('click', function() {
        let value = btn.dataset.value;

        showPrompt(
          value,
          "Введите новые данные:",
          function() {
            console.log(value);
          }
        );
      });
    });
</script>
{% endblock %}
