{% extends 'page.html' %}

{% block title %}Операции{% endblock %}

{% block body %}
    <section class="u-clearfix u-container-align-center u-image op-section-1" id="sec-eae5" data-image-width="1818" data-image-height="606">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-align-center u-clearfix op-section-2" id="sec-847a">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-expanded-width u-table u-table-responsive u-table-1">
          <table class="u-table-entity u-table-entity-1">
            <colgroup>
              <col width="25%">
              <col width="25%">
              <col width="25%">
              <col width="25%">
            </colgroup>
            <thead class="u-palette-4-base u-table-header u-table-header-1">
              <tr style="height: 47px;">
                <th class="u-border-1 u-border-custom-color-1 u-table-cell">Column 1 </th>
                <th class="u-border-1 u-border-custom-color-1 u-table-cell">Column 2 </th>
                <th class="u-border-1 u-border-custom-color-1 u-table-cell">Column 3 </th>
                <th class="u-border-1 u-border-custom-color-1 u-table-cell">Column 4 </th>
              </tr>
            </thead>
            <tbody class="u-table-body">
              <tr style="height: 47px;">
                <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-5">Row 1</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              </tr>
              <tr style="height: 47px;">
                <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-9">Row 2</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              </tr>
              <tr style="height: 47px;">
                <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-13">Row 3</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              </tr>
              <tr style="height: 47px;">
                <td class="u-border-1 u-border-grey-30 u-first-column u-grey-5 u-table-cell u-table-cell-17">Row 4</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
                <td class="u-border-1 u-border-grey-30 u-table-cell">Description</td>
              </tr>
            </tbody>
          </table>
          <h1>Выполнить произвольный SQL-запрос:</h1>
          <textarea id="sql" name="sql"
                    rows="5" cols="133">
          </textarea>
          <a href="#paste_your_link" class="u-border-none u-btn u-btn-round u-button-style u-hover-custom-color-1 u-palette-3-base u-radius-1 u-btn-2">
                 <span class="u-icon u-icon-2"><svg class="u-svg-content" viewBox="0 0 53 53" x="0px" y="0px" style="width: 1em; height: 1em;">
                     <path style="fill:#424A60;" d="M50.455,8L50.455,8C49.724,3.538,39.281,0,26.5,0S3.276,3.538,2.545,8l0,0H2.5v0.5V20v0.5V21v11v0.5
	                    V33v12h0.045c0.731,4.461,11.175,8,23.955,8s23.224-3.539,23.955-8H50.5V33v-0.5V32V21v-0.5V20V8.5V8H50.455z"></path>
                     <g><path style="fill:#424A60;" d="M26.5,41c-13.255,0-24-3.806-24-8.5V45h0.045c0.731,4.461,11.175,8,23.955,8s23.224-3.539,23.955-8
		            H50.5V32.5C50.5,37.194,39.755,41,26.5,41z"></path><path style="fill:#424A60;" d="M2.5,32v0.5c0-0.168,0.018-0.334,0.045-0.5H2.5z"></path>
                         <path style="fill:#424A60;" d="M50.455,32c0.027,0.166,0.045,0.332,0.045,0.5V32H50.455z"></path>
        </g><g><path style="fill:#556080;" d="M26.5,29c-13.255,0-24-3.806-24-8.5V33h0.045c0.731,4.461,11.175,8,23.955,8s23.224-3.539,23.955-8
		H50.5V20.5C50.5,25.194,39.755,29,26.5,29z"></path><path style="fill:#556080;" d="M2.5,20v0.5c0-0.168,0.018-0.334,0.045-0.5H2.5z"></path>
                     <path style="fill:#556080;" d="M50.455,20c0.027,0.166,0.045,0.332,0.045,0.5V20H50.455z"></path>
            </g><ellipse style="fill:#7FABDA;" cx="26.5" cy="8.5" rx="24" ry="8.5"></ellipse>
                     <g><path style="fill:#7383BF;" d="M26.5,17c-13.255,0-24-3.806-24-8.5V21h0.045c0.731,4.461,11.175,8,23.955,8s23.224-3.539,23.955-8
		H50.5V8.5C50.5,13.194,39.755,17,26.5,17z"></path>
                         <path style="fill:#7383BF;" d="M2.5,8v0.5c0-0.168,0.018-0.334,0.045-0.5H2.5z"></path>
                         <path style="fill:#7383BF;" d="M50.455,8C50.482,8.166,50.5,8.332,50.5,8.5V8H50.455z"></path>
        </g></svg><img></span>&nbsp;ВЫПОЛНИТЬ ЗАПРОС</a>
        </div>
      </div>
    </section>
{% endblock %}