.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 10px);
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 308px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5.0000025px);
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 723px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}

.index-section-1 .u-sheet-1 {
    min-height: 400px;
  }
  
  .index-section-1 .u-layout-wrap-1 {
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
  }
  
  .index-section-1 .u-image-1 {
    min-height: 400px;
    background-image: url("../images/header.jpg");
  }
  
  .index-section-1 .u-container-layout-1 {
    padding: 30px;
  }
  
  .index-section-1 .u-text-1 {
    margin: 97px auto 0 97px;
  }
  
  .index-section-1 .u-text-2 {
    margin: -106px 118px 0 auto;
  }
  
  @media (max-width: 1199px) {
    .index-section-1 .u-sheet-1 {
      min-height: 330px;
    }
  
    .index-section-1 .u-image-1 {
      background-position: 50% 50%;
      min-height: 330px;
    }
  }
  
  @media (max-width: 991px) {
    .index-section-1 .u-sheet-1 {
      min-height: 253px;
    }
  
    .index-section-1 .u-image-1 {
      min-height: 253px;
    }
  }
  
  @media (max-width: 767px) {
    .index-section-1 .u-sheet-1 {
      min-height: 190px;
    }
  
    .index-section-1 .u-image-1 {
      min-height: 190px;
    }
  
    .index-section-1 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .index-section-1 .u-sheet-1 {
      min-height: 120px;
    }
  
    .index-section-1 .u-image-1 {
      min-height: 120px;
    }
  
    .index-section-1 .u-text-2 {
      margin-right: 73px;
    }
  } .index-section-2 {
    background-image: none;
  }
  
  .index-section-2 .u-sheet-1 {
    min-height: 541px;
  }
  
  .index-section-2 .u-layout-wrap-1 {
    margin: 60px auto 60px 0;
  }
  
  .index-section-2 .u-layout-cell-1 {
    min-height: 431px;
  }
  
  .index-section-2 .u-container-layout-1 {
    padding: 30px 60px;
  }
  
  .index-section-2 .u-text-1 {
    margin: 22px 40px 0;
  }
  
  .index-section-2 .u-text-2 {
    margin: 51px 0 0;
  }
  
  .index-section-2 .u-image-1 {
    min-height: 431px;
    background-image: url("../images/moscow-3.webp");
    background-position: 50% 50%;
  }
  
  .index-section-2 .u-container-layout-2 {
    padding: 30px 60px;
  }
  
  @media (max-width: 1199px) {
    .index-section-2 .u-sheet-1 {
      min-height: 100px;
    }
  
    .index-section-2 .u-layout-wrap-1 {
      margin-right: initial;
      margin-left: initial;
    }
  
    .index-section-2 .u-layout-cell-1 {
      min-height: 355px;
    }
  
    .index-section-2 .u-image-1 {
      min-height: 355px;
    }
  }
  
  @media (max-width: 991px) {
    .index-section-2 .u-layout-cell-1 {
      min-height: 100px;
    }
  
    .index-section-2 .u-container-layout-1 {
      padding-left: 30px;
      padding-right: 30px;
    }
  
    .index-section-2 .u-image-1 {
      min-height: 272px;
    }
  
    .index-section-2 .u-container-layout-2 {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  @media (max-width: 767px) {
    .index-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .index-section-2 .u-image-1 {
      min-height: 408px;
    }
  
    .index-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  
  @media (max-width: 575px) {
    .index-section-2 .u-image-1 {
      min-height: 257px;
    }
  }

  .op-section-1 {
    background-image: url("../images/header.jpg");
    background-position: 50% 50%;
  }
  
  .op-section-1 .u-sheet-1 {
    min-height: 400px;
  }
  
  @media (max-width: 767px) {
    .op-section-1 .u-sheet-1 {
      min-height: 390px;
    }
  }
  
  @media (max-width: 575px) {
    .op-section-1 .u-sheet-1 {
      min-height: 323px;
    }
  }.op-section-2 .u-sheet-1 {
    min-height: 464px;
  }
  
  .op-section-2 .u-table-1 {
    margin: 42px auto 42px 0;
  }
  
  .op-section-2 .u-table-entity-1 {
    min-height: 100px;
  }
  
  .op-section-2 .u-table-header-1 {
    font-weight: 700;
    background-image: none;
  }
  
  .op-section-2 .u-table-cell-5 {
    background-image: none;
  }
  
  .op-section-2 .u-table-cell-9 {
    background-image: none;
  }
  
  .op-section-2 .u-table-cell-13 {
    background-image: none;
  }
  
  .op-section-2 .u-table-cell-17 {
    background-image: none;
  }
  
  .u-block-21a4-35 {
    background-image: none;
  }
  
  @media (max-width: 1199px) {
    .op-section-2 .u-table-1 {
      margin-right: initial;
      margin-left: initial;
    }
  }

  .ab-section-1 {
    background-image: url("../images/header.jpg");
    background-position: 50% 50%;
  }
  
  .ab-section-1 .u-sheet-1 {
    min-height: 400px;
  }
  
  @media (max-width: 1199px) {
    .ab-section-1 .u-sheet-1 {
      min-height: 330px;
    }
  }
  
  @media (max-width: 991px) {
    .ab-section-1 .u-sheet-1 {
      min-height: 253px;
    }
  }
  
  @media (max-width: 767px) {
    .ab-section-1 .u-sheet-1 {
      min-height: 190px;
    }
  }
  
  @media (max-width: 575px) {
    .ab-section-1 .u-sheet-1 {
      min-height: 120px;
    }
  } .ab-section-2 {
    min-height: 10px;
  }
  
  .ab-section-2 .u-list-1 {
    width: 1140px;
    margin: 60px auto 0;
  }
  
  .ab-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.3333% - 20px));
    min-height: 553px;
    grid-gap: 30px;
  }
  
  .ab-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  
  .ab-section-2 .u-group-1 {
    height: auto;
    width: 280px;
    min-height: 280px;
    margin: 0 auto 0 0;
  }
  
  .ab-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  
  .ab-section-2 .u-image-1 {
    width: 193px;
    height: 193px;
    background-image: url("../images/1.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .ab-section-2 .u-text-1 {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: none;
    margin: 42px 0 0;
  }
  
  .ab-section-2 .u-text-2 {
    font-weight: 700;
    margin: 10px 0 0;
  }
  
  .ab-section-2 .u-text-3 {
    font-weight: 300;
    font-style: normal;
    margin: 23px 0 0;
  }
  
  .ab-section-2 .u-container-layout-3 {
    padding: 30px;
  }
  
  .ab-section-2 .u-group-2 {
    height: auto;
    width: 280px;
    min-height: 280px;
    margin: 0 auto 0 0;
  }
  
  .ab-section-2 .u-container-layout-4 {
    padding: 30px;
  }
  
  .ab-section-2 .u-image-2 {
    width: 193px;
    height: 193px;
    object-position: 50% 94.17%;
    background-image: url("../images/2.png");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .ab-section-2 .u-text-4 {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: none;
    margin: 42px 0 0;
  }
  
  .ab-section-2 .u-text-5 {
    font-weight: 700;
    margin: 10px 0 0;
  }
  
  .ab-section-2 .u-text-6 {
    font-weight: 300;
    font-style: normal;
    margin: 23px 0 0;
  }
  
  .ab-section-2 .u-container-layout-5 {
    padding: 30px;
  }
  
  .ab-section-2 .u-group-3 {
    height: auto;
    width: 280px;
    min-height: 280px;
    margin: 0 auto 0 0;
  }
  
  .ab-section-2 .u-container-layout-6 {
    padding: 30px;
  }
  
  .ab-section-2 .u-image-3 {
    width: 193px;
    height: 193px;
    background-image: url("../images/3.png");
    background-position: 50% 50%;
    margin: 0 auto;
  }
  
  .ab-section-2 .u-text-7 {
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: none;
    margin: 42px 0 0;
  }
  
  .ab-section-2 .u-text-8 {
    font-weight: 700;
    margin: 10px 0 0;
  }
  
  .ab-section-2 .u-text-9 {
    font-weight: 300;
    font-style: normal;
    margin: 23px 0 0;
  }
  
  .ab-section-2 .u-text-10 {
    font-style: normal;
    text-align: left;
    margin: 28px auto 60px;
  }
  
  .ab-section-2 .u-btn-1 {
    background-image: none;
    padding: 0;
  }
  
  @media (max-width: 1199px) {
    .ab-section-2 .u-list-1 {
      width: 940px;
    }
  
    .ab-section-2 .u-repeater-1 {
      grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
      min-height: 451px;
    }
  
    .ab-section-2 .u-group-1 {
      min-height: 227px;
      margin-right: initial;
      margin-left: initial;
      height: auto;
      width: auto;
    }
  
    .ab-section-2 .u-image-1 {
      width: 153px;
      height: 153px;
    }
  
    .ab-section-2 .u-text-1 {
      font-size: 1.5rem;
    }
  
    .ab-section-2 .u-group-2 {
      min-height: 227px;
      margin-right: initial;
      margin-left: initial;
      height: auto;
      width: auto;
    }
  
    .ab-section-2 .u-image-2 {
      width: 153px;
      height: 153px;
    }
  
    .ab-section-2 .u-text-4 {
      font-size: 1.5rem;
    }
  
    .ab-section-2 .u-group-3 {
      min-height: 227px;
      margin-right: initial;
      margin-left: initial;
      height: auto;
      width: auto;
    }
  
    .ab-section-2 .u-image-3 {
      width: 153px;
      height: 153px;
    }
  
    .ab-section-2 .u-text-7 {
      font-size: 1.5rem;
    }
  }
  
  @media (max-width: 991px) {
    .ab-section-2 .u-list-1 {
      width: 720px;
    }
  
    .ab-section-2 .u-repeater-1 {
      grid-template-columns: repeat(2, calc(50% - 15px));
      min-height: 1091px;
    }
  
    .ab-section-2 .u-group-1 {
      width: 235px;
      margin-right: 50px;
      margin-left: 0;
    }
  
    .ab-section-2 .u-group-2 {
      width: 235px;
      margin-right: 50px;
      margin-left: 0;
    }
  
    .ab-section-2 .u-group-3 {
      width: 235px;
      margin-right: 50px;
      margin-left: 0;
    }
  }
  
  @media (max-width: 767px) {
     .ab-section-2 {
      min-height: 1939px;
    }
  
    .ab-section-2 .u-list-1 {
      width: 540px;
    }
  
    .ab-section-2 .u-repeater-1 {
      grid-template-columns: 100%;
      min-height: 1722px;
    }
  
    .ab-section-2 .u-container-layout-1 {
      padding: 29px 10px;
    }
  
    .ab-section-2 .u-group-1 {
      width: 250px;
      margin-right: 270px;
    }
  
    .ab-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .ab-section-2 .u-image-1 {
      margin-top: 10px;
      margin-left: 28px;
    }
  
    .ab-section-2 .u-container-layout-3 {
      padding: 29px 10px;
    }
  
    .ab-section-2 .u-group-2 {
      width: 250px;
      margin-right: 270px;
    }
  
    .ab-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .ab-section-2 .u-image-2 {
      margin-top: 10px;
      margin-left: 28px;
    }
  
    .ab-section-2 .u-container-layout-5 {
      padding: 29px 10px;
    }
  
    .ab-section-2 .u-group-3 {
      width: 250px;
      margin-right: 270px;
    }
  
    .ab-section-2 .u-container-layout-6 {
      padding-left: 10px;
      padding-right: 10px;
    }
  
    .ab-section-2 .u-image-3 {
      margin-top: 10px;
      margin-left: 28px;
    }
  
    .ab-section-2 .u-text-10 {
      width: auto;
      margin-top: 23px;
      margin-bottom: -774px;
    }
  }
  
  @media (max-width: 575px) {
     .ab-section-2 {
      min-height: 2016px;
    }
  
    .ab-section-2 .u-list-1 {
      width: 340px;
    }
  
    .ab-section-2 .u-repeater-1 {
      min-height: 1106px;
    }
  
    .ab-section-2 .u-group-1 {
      min-height: 250px;
      margin-right: 70px;
    }
  
    .ab-section-2 .u-group-2 {
      min-height: 250px;
      margin-right: 70px;
    }
  
    .ab-section-2 .u-group-3 {
      min-height: 250px;
      margin-right: 70px;
    }
  
    .ab-section-2 .u-text-10 {
      margin-bottom: -697px;
    }
  }

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 24px auto 0;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 24px auto 60px;
  padding: 8px 33px;
}
