{% extends 'page.html' %}

{% block title %}О нас{% endblock %}

{% block body %}
    <section class="u-clearfix u-container-align-center u-image ab-section-1" id="sec-4be2" data-image-width="1818" data-image-height="606">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-align-center u-clearfix ab-section-2" id="carousel_f5ca">
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
              <div class="u-border-10 u-border-palette-1-base u-container-align-center-md u-container-style u-expanded-width-lg u-group u-shape-circle u-white u-group-1">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-xl u-container-layout-2">
                  <div alt="" class="u-image u-image-circle u-preserve-proportions u-image-1" data-image-width="300" data-image-height="300"></div>
                </div>
                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
              </div>
              <h3 class="u-align-left u-custom-font u-font-montserrat u-text u-text-1">Jlmmie Leslee</h3>
              <p class="u-align-left u-text u-text-palette-1-base u-text-2">creative designer</p>
              <p class="u-align-left u-text u-text-3">Человек с 11 волны, который сделал этот дизайн и активно занимался разработкой и упаковкой проекта.</p>
            </div>
          </div>
          <div class="u-align-center u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
              <div class="u-border-10 u-border-palette-1-base u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-expanded-width-lg u-group u-shape-circle u-white u-group-2">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-xl u-container-layout-4">
                  <div alt="" class="u-image u-image-circle u-preserve-proportions u-image-2" data-image-width="512" data-image-height="512"></div>
                </div>
                <div class="u-preserve-proportions-child" style="padding-top: 100%;"></div>
              </div>
              <h3 class="u-align-left u-custom-font u-font-montserrat u-text u-text-4"> Ildar Nurtdinov</h3>
              <p class="u-align-left u-text u-text-palette-1-base u-text-5">programming guru</p>
              <p class="u-align-left u-text u-text-6">Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis glavrid from dolor amet iquam lorem bibendum</p>
            </div>
          </div>
          <div class="u-align-center u-container-align-left u-container-style u-list-item u-repeater-item u-shape-rectangle">
            <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
              <div class="u-border-10 u-border-palette-1-base u-container-align-center-md u-container-align-center-sm u-container-align-center-xs u-container-style u-expanded-width-lg u-group u-shape-circle u-white u-group-3">
                <div class="u-container-layout u-valign-middle-md u-valign-middle-xl u-container-layout-6">
                  <div alt="" class="u-image u-image-circle u-preserve-proportions u-image-3" data-image-width="212" data-image-height="214"></div>
                </div>
              </div>
              <h3 class="u-align-left u-custom-font u-font-montserrat u-text u-text-7">Any Person</h3>
              <p class="u-align-left u-text u-text-palette-1-base u-text-8"> vacant position</p>
              <p class="u-align-left u-text u-text-9">Glavi amet ritnisl libero molestie ante ut fringilla purus eros quis glavrid from dolor amet iquam lorem bibendum</p>
            </div>
          </div>
        </div>
      </div>
      <p class="u-text u-text-default u-text-10">Image by <a href="https://freepik.com" class="u-active-none u-border-active-palette-2-base u-border-hover-palette-2-base u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-active-black u-text-body-color u-text-hover-black u-btn-1">Freepik</a>
      </p>
    </section>
{% endblock %}